{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Welcome to taskmate!</title>
{% endblock title %}

{% block content %}
    <div class = "container">
        <div class="row mt-5">
            <div class="col-lg-4">
                <img src="{% static 'images/logo.png' %}" alt="Notes">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/logo.png' %}" alt="Notes">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/logo.png' %}" alt="Notes">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h1">line 1</p></center>
                <center><p class="h2">line 2</p></center>
                <center><p class="h5">line 3</p></center>
                <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Let's Get Started</button></a></center>
            </div>
        </div>
    </div>
{% endblock content %}