{% extends 'base.html' %}

{% block title %}
    <title>Todo List Manage -Taskmate</title>
{% endblock title %}

{% block content %}
    <div class = "container">
    </br>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="task" placeholder="New Task?">
        </div>

        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
    </br>
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr class="row">
                    <th class="col-7">Task</th>
                    <th class="col-3">Done</th>
                    <th class="col-1">Edit</th>
                    <th class="col-1">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in all_tasks %}
                    {% if obj.done %}
                        <tr class="table-success row">
                            <td class="col-7">{{ obj.task }}</td>
                            <td class="col-3"><a href="{% url 'pending_task' obj.id %}">Mark as pending</a></td>
                            <td class="col-1"><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                            <td class="col-1"><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                        </tr>
                    {% else %}
                        <tr class="row">
                            <td class="col-7">{{ obj.task }}</td>
                            <td class="col-3"><a href="{% url 'complete_task' obj.id %}">Mark as complete</a></td>
                            <td class="col-1"><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                            <td class="col-1"><a href="{% url 'delete_task' obj.id %}"<button type="button" class="btn btn-danger">Delete</button></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}